.Northern{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EE82EE;
    font-size: x-large;
}

.Southern{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7FFFD4;
    font-size: x-large;
}